__pycache__/
*.py[cod]
*.log
.venv/
venv/
.env
.env.*.local
config/setting.toml
data/*.db
data/*.db-*
data/**/*.db
data/**/*.db-*
playwright-report/
data/setting.toml
data/*/setting.toml
deploy/*.env.local
flow_captcha_service.rar
